[Unit]
Description=Servicio de análisis de espacio

[Service]
ExecStart=/usr/bin/python3 /home/tarea5.py
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
